<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sd.saruj.cuhelpguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cu"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ProfileActivity"></activity>
        <activity
            android:name=".Activity.VolunteerStudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activity.RegistrationActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.NoticeViewActivity"
            android:parentActivityName=".Activity.NoticeListActivity" />
        <activity
            android:name=".Activity.NoticeListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ShowPostActivity"
            android:parentActivityName=".Activity.RetriveSubjectPostListActivity" />
        <activity
            android:name=".Activity.RetriveSubjectPostListActivity"
            android:parentActivityName=".Activity.SubjectReviewActivity" />
        <activity android:name=".Activity.UpploadPostActivity" />
        <activity
            android:name=".Activity.SubjectReviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activity.ChoiceActivity" />
        <activity android:name=".Activity.ModelQuestion.PracticeTest.QuestionActivity" />
        <activity android:name=".Activity.ModelQuestion.PracticeTest.PracticeTestActivity" />
        <activity android:name=".Activity.ModelQuestion.ModelTest.ModelQuestionMainActivity" />
        <activity android:name=".Activity.ModelQuestion.ModelTest.ResultActivity" />
        <activity android:name=".Activity.ModelQuestion.ModelTest.ModelQuestionActivity" />
        <activity
            android:name=".Activity.DUnitSubjectViewActivity"
            android:parentActivityName=".Activity.AllUnitViewActivity" />
        <activity
            android:name=".Activity.UnitSubjectViewActivity"
            android:parentActivityName=".Activity.AllUnitViewActivity" />
        <activity
            android:name=".Activity.AllUnitViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.DepartmentInformationActivity"
            android:parentActivityName=".Activity.FacultyNameActivity" />
        <activity
            android:name=".Activity.DepartmentNameActivity"
            android:parentActivityName=".Activity.FacultyNameActivity" />
        <activity
            android:name=".Activity.FacultyNameActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>